[Unit]
Description=Nexus Repository Manager
After=network.target

[Service]
Type=forking
LimitNOFILE=65536
User={{ nexus_user }}
Group={{ nexus_group }}
ExecStart={{ nexus_app_link }}/bin/nexus start
ExecStop={{ nexus_app_link }}/bin/nexus stop
Restart=on-abort
TimeoutSec=600

[Install]
WantedBy=multi-user.target
